# Environment and config
.env

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# System files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/

# Output folders
Openai/
HuggingFace/
